:root {
    --font-family: "Inter", Regular;
    --second-family: "Fraunces", sans-serif;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: 0;
}

ul,
li {
    list-style: none;
}


.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}


.header__toggle {
    display: none;
}


.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 38px 0;
    width: 100%;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 28px;
}


.header__right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 68px;
}


.header__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #33383f;
}

.header__sign {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #0070a0;
}

.header__sign:hover {
    opacity: 0.8;
}

.header__link:hover {
    opacity: 0.8;
}

.header__book:hover {
    opacity: 0.8;
}

.header__book {
    padding: 10px 20px;
    background-color: #0070A0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #fff;
}

.header__logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.hero {
    margin-top: clamp(12px, calc(2.424px + 1.995vw), 20px);
}

.hero__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: clamp(100px, calc(277.778px + -23.148vw), 0px);
}

.hero__left {
    flex-basis: 485px;
}

.hero__image img {
    display: block;
    max-width: 100%;
}



.hero__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(25px, calc(-4.925px + 6.234vw), 50px);
    line-height: 110%;
    letter-spacing: 0em;
    color: #1f1f1f;
    margin-bottom: clamp(14px, calc(2.03px + 2.494vw), 24px);
}

.hero__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(12px, calc(7.212px + 0.998vw), 16px);
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    margin-bottom: clamp(14px, calc(-3.955px + 3.741vw), 29px);
}

.hero__buttons {
    display: flex;
    gap: 24px;
    align-items: center;
}


.hero__button {
    background-color: #0070A0;
    color: #fff;
    padding: 7px 27px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(12px, calc(7.212px + 0.998vw), 16px);
    line-height: 159%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
}

.hero__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(12px, calc(7.212px + 0.998vw), 16px);
    line-height: 159%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0070a0;
}


.partners__container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: clamp(60px, calc(-117.778px + 23.148vw), 160px);
}

.partners__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.partners__down {
    display: flex;
    gap: 60px;
}

.partners__top__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(12px, calc(7.636px + 1.364vw), 24px);
    line-height: 156%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #1f1f1f;
}

.features__row {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    margin-bottom: clamp(60px, calc(17.143px + 13.393vw), 120px);
}


.features__card {
    flex: 1 1 calc(33.333% - 33px);
    padding: 35px;
    background-color: #0070A0;
}

.features__headline {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(14px, calc(3.846px + 2.115vw), 25px);
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    margin-top: clamp(15px, calc(23.889px + -1.157vw), 10px);
}

.features__description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(0.63rem, calc(0.069rem + 1.157vw), 0.94rem);
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    margin-top: clamp(8px, calc(6.154px + 0.385vw), 10px);
}

.features__card.features__card--yellow {
    background-color: #FAEA73;
}

.features__card.features__card--blue {
    background-color: #CCEFF6;
}

.features__card.features__card--pink {
    background-color: #F7CEDC;
}


.about {
    margin-bottom: clamp(30px, calc(-10px + 12.5vw), 100px);
}

.about__row {
    display: flex;
    justify-content: space-between;
    gap: 98px;
    margin-bottom: clamp(60px, calc(17.143px + 13.393vw), 120px)
}


.about__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(24px, calc(17.455px + 2.045vw), 42px);
    line-height: 120%;
    letter-spacing: 0em;
    color: #1f1f1f;
    margin-bottom: clamp(12px, calc(6.286px + 1.786vw), 20px);
}

.about__left {
    flex: 0 1 calc(50% - 98px);
}


.about__right {
    display: flex;
    align-items: center;
    gap: 31px;
}

.about__card {
    flex: 1 1 calc(33.333% - 31px);
}

.about__img {
    margin-bottom: 8px;
}

.about__card-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(14px, calc(9.714px + 1.339vw), 20px);
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    margin-bottom: 11px;
}

.about__card-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(14px, calc(11.818px + 0.682vw), 20px);
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    margin-bottom: 11px;
    padding-top: 11px;
}

.motive {
    background-color: #0070A0;
}

.motive__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.motive__right {
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
    padding-top: clamp(20px, calc(-22.857px + 13.393vw), 80px);
    padding-bottom: clamp(20px, calc(-22.857px + 13.393vw), 80px);
}

.motive__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(21px, calc(9px + 3.75vw), 42px);
    line-height: 120%;
    letter-spacing: 0em;
    color: #fff;
    margin-bottom: clamp(15px, calc(6.429px + 2.679vw), 30px);
}

.motive__description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(0.81rem, calc(0.257rem + 1.157vw), 1.13rem);
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #fff;
    margin-bottom: clamp(15px, calc(6.429px + 2.679vw), 30px);
}

.motive__point {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(0.69rem, calc(0.354rem + 0.694vw), 0.88rem);
    line-height: 135%;
    letter-spacing: 0.01em;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
    padding-left: 26px;
}

.motive__point::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 1;
    background: url(../img/mark.svg) no-repeat center;
    background-size: cover;
    width: 17px;
    height: 10px;
}

.motive__points {
    margin-bottom: clamp(10px, calc(-4.286px + 4.464vw), 30px);
}

.motive__book {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(14px, calc(11.857px + 0.67vw), 17px);
    line-height: 159%;
    letter-spacing: 0.01em;
    color: #fff;
    text-align: left;
}

.task {
    padding-top: clamp(50px, calc(14.286px + 11.161vw), 100px);
    margin-bottom: clamp(50px, calc(14.286px + 11.161vw), 100px);
}

.task__title {
    margin-bottom: 18px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(20px, calc(5.714px + 4.464vw), 40px);
    line-height: 120%;
    letter-spacing: 0em;
    color: #1f1f1f;
}

.task__description {
    margin-bottom: clamp(17px, calc(-6.571px + 7.366vw), 50px);
    max-width: 634px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(12px, calc(7.714px + 1.339vw), 18px);
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}

.task__bottom {
    display: flex;
    justify-content: space-between;
}

.task__card {
    flex: 0 1 calc(25% - 64px);
}

.task__card-title {
    margin-bottom: 20px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(10px, calc(6.429px + 1.116vw), 15px);
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}

.task__card-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(10px, calc(6.429px + 1.116vw), 15px);
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}

.blog {
    padding-top: 30px;
    background-color: #f3eeee;
}

.blog__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: clamp(18px, calc(9.429px + 2.679vw), 30px);
}

.blog__title-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(18px, calc(8px + 3.125vw), 32px);
    line-height: 120%;
    letter-spacing: 0em;
    color: #1f1f1f;
}

.blog__all-posts {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(0.75rem, calc(0.194rem + 1.157vw), 1.06rem);
    line-height: 159%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0070a0;
}

.blog__section {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.blog__card {
    background-color: #fff;
    flex-basis: 355px;
    margin-bottom: clamp(15px, calc(4.286px + 3.348vw), 30px);
}


.blog__card-image {
    display: block;
    max-width: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog__card-text {
    padding: 30px;
    background-color: #fff;
}

.blog__card-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(14px, calc(11.143px + 0.893vw), 18px);
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    margin-bottom: 11px;
}


.blog__caption {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(10px, calc(7.143px + 0.893vw), 14px);
    line-height: 133%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #2c90c9;
    padding: 4px 12px;
    margin-bottom: 8px;
    background-color: #E6F7FF;
}

.blog__card-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    margin-bottom: 13px;
    flex-basis: 300px;
}

.blog__date {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 163%;
    letter-spacing: 0.02em;
    color: #1f1f1f;
}

.container.container__book {
    background-color: #E6F7FF;
    padding: 64px;
}

.book {
    padding-top: clamp(35px, calc(2.857px + 10.045vw), 80px);
}

.book__row {
    max-width: 500px;
}

.book__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(21px, calc(6px + 4.688vw), 42px);
    line-height: 120%;
    letter-spacing: 0em;
    color: #1f1f1f;
    margin-bottom: 21px;
}

.book__description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(12px, calc(7.714px + 1.339vw), 18px);
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    margin-bottom: 36px;
}

.book__points {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.book__point {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(9px, calc(6.143px + 0.893vw), 13px);
    line-height: 162%;
    letter-spacing: 0.02em;
    color: #626a72;
    position: relative;
    padding-left: 20px;

}

.book__point::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 1;
    background: url(../img/mark.svg) no-repeat center;
    background-size: cover;
    width: 17px;
    height: 10px;
}

.book__demo {
    background-color: #0070A0;
    color: #fff;
    padding: 7px 27px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(12px, calc(8.429px + 1.116vw), 17px);
    line-height: 159%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    margin-bottom: 12px;
}

.footer {
    padding-top: clamp(26px, calc(15.091px + 3.409vw), 56px);
    margin-bottom: 37px;
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__row {
    display: flex;
    gap: 16px;
    margin-bottom: 36px;
}

.footer__col {
    flex: 0 1 216px;
}

.footer__col:first-child {
    flex: 1;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.01em;
    color: #626a72;
}

.footer__newsreel {
    display: flex;
    flex-direction: column;
    flex-basis: 216px;
}

.footer__credit {
    display: flex;
    justify-content: space-between;
}

.footer__ceo {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}

.footer__ceo a:visited {
    color: #0070A0;
}

.footer__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    margin-bottom: 16px;
}

.footer__description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}

.footer__option {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.01em;
    color: #626a72;
    margin-bottom: 10px;
}


.footer__link:visited {
    color: #626a72;
}

.footer__info-options {
    padding-right: 140px;
}

.footer__newsreel {
    position: relative;
}

.footer__description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    margin-bottom: 16px;
}

.footer__social {
    display: flex;
    gap: 20px;
}

.footer__input {
    display: block;
    width: 100%;
    padding: 17px 25px 7px 15px;
    border: 0;
    border-bottom: 1px solid #c2cdd8;
}

.footer__input:focus {
    outline: none;
}

.footer__input::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 154%;
    letter-spacing: 0.02em;
    color: #626a72;
}

.footer__form {
    position: relative;
}

.footer__button {
    position: absolute;
    top: 10px;
    right: 0;
}

.footer__credit-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 151%;
    letter-spacing: 0.02em;
    color: #1f1f1f;
}

.footer__credit-text a:visited {
    color: #0070A0;
}

.footer__row {
    display: flex;
    gap: 16px;
    margin-bottom: 35px;
    border-bottom: 1px solid #c2cdd8;
}

.page {
    min-width: 320px;
    overflow: hidden;
}

@media (max-width: 1200px) {

    .hero__image__right {
        width: 80%;
    }

    .about__row {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .task__bottom {
        gap: 30px;
    }

}


@media (max-width: 880px) {


    .header__toggle {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    .header__toggle span {
        width: 35px;
        height: 2px;
        background-color: #000;
    }

    .header__right {
        display: none;
    }


    .header__nav {
        position: absolute;
        inset: 0;
        background-color: #b9c1c6;
        height: 100svh;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 50px;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out;
    }

    .header__nav.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0)
    }

    .header__nav .header__link {
        transform: translateX(-120%);
        transition: all 0.5s ease-in-out;
        opacity: 1;
    }

    .header__nav.active .header__link {
        transform: translateX(0);
    }

    .hero__row {
        justify-content: center;
    }

    .hero__image {
        display: none;
    }

    .motive__img {
        width: 50%;
    }

    .blog__section {
        flex-wrap: wrap;
    }



}

@media (max-width: 768px) {




    .motive {
        padding: 25px 0;
    }


    .about__right {
        flex-wrap: wrap;
    }

    .about__card {
        flex: 1 1 calc(50% - 31px);
    }

    .partners__down {
        flex-direction: column;
        align-items: center;
    }

    .features__row {
        flex-direction: column;
    }

    .motive__img {
        display: none;
    }

    .task__bottom {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .task__card {
        flex: 1 1 100%;
    }

    .blog__title {
        flex-direction: column;
        text-align: center;
    }

    .blog__card {
        flex-basis: 100%;
    }

    .footer__row {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }



}